*{
margin: 0 ;
padding: 0 ;
font-family: 'Poppins' , sans-serif ;
box-sizing: border-box;
scroll-behavior: smooth;
}

:root{
    /* black color shades - charleston geen #232b2b */
    /* black color shades - dark jungle green #1a2421 */
    /* black color shades - onyx #353839 */
    /* white color shades - gray cloud #b6b6b4 */
    /* white shades - alabaster #edeae0 */
    /* white shades - light white #F3F2ED */
    /* white shades - vista white #FDFCFA */
   --hero-background-color: #0f2027;
    --hero-background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    --heading-background: -webkit-linear-gradient( #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    --primary-color: #1a2421;
    --secondary-color: #353839;
    --primary-text: #FDFCFA;
}
.light{  
    --hero-background-color:#acb6e5;
    --hero-background-image:linear-gradient(to right, #acb6e5, #86fde8);
    --heading-background: -webkit-linear-gradient( #434343,#000000);
    --primary-color:#F3F2ED ;
    --secondary-color: #edeae0 ;
    --primary-text: #1a2421;
}
body{
    background-color: var(--primary-color);
}

.hero{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--hero-background-color);
    background-image: var(--hero-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex ;
    align-items: center ;
    justify-content: space-evenly ;
}

.hero h1{
    font-size: 4.5rem;
    font-weight: 800;
    /* color: #f3e5ab; */
    font-size: 72px;
    background: var(--heading-background);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero h2{
    margin: 10px 0;
    color: var(--primary-text);
    font-size: 1.4rem;
}
.button {
    margin-top: 50px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .button:active,
   .button:hover {
    outline: 0;
   }
   
   .button a {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    text-decoration: none;
    color: #fff;
   }
   
   .button:hover a {
    background: none;
   }
   
   .button:active {
    transform: scale(0.9);
   }
.hero .image img{
    width: 300px;
    clip-path: polygon(51% 100%, 91% 87%, 99% 0, 0 0, 9% 87%);
    box-shadow: 10px 10px 10px #737176b0;
}

.project-tiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 60px 10%;
}
a{
    text-decoration: none;
}
.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    outline: solid 2px var(--primary-color);
    background-color: var(--secondary-color);

}
.visual{
    width: 100%;
    height: 230px;

}
.visual img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;  

}
.info{
    width: 100%;
    height: 120px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    overflow: scroll;
    
}

::-webkit-scrollbar{
    display: none;
}
.info h3{
    width: 100%;
    font-size: 20px;    
    text-align: left;
    padding: 10px 0;
}
.info i {
    margin-right: 10px;
    color: #00DDEB;
}
.info p{
    font-size: 14px;
}
.buttons{
    width: 100%;
    display: flex ;
    align-items: center ;
    justify-content: space-between ; 
    background-color: var(--secondary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
   
    
}
.buttons .btn{
    padding: 5px 10px;
    text-align: center;
    background: #7d2ae8;
    font-size: 14px;
    color: #fff;
    outline: 0;
    border: 1px solid #684577;
    border-radius: 10px;
    width: 100px;
    transition: all 0.2s linear;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);

}
.btn:nth-child(2){
    background: #00755E;
    border: 1px solid #21574c;

}
.buttons .btn:hover{
    transform: scale(1.1);
    
    
}
.bt{
    padding:6px 10px;
    outline: none;
    border: 1px solid #ccc;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    cursor: pointer;


}
.bt:disabled{
    color: var(--primary-text);
    background: var(--secondary-color);
    opacity: 0.5;
   
}
.pagination-box{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    width: 500px;
    margin: 10px auto 50px;
    column-gap: 20px;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.pagination li {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: var(--secondary-color);
    color: var(--primary-text);
}
.pagination li.active {
    background-color: #007bff;
    color: #f3f3f3;
}
footer{
    width: 100%;
    /* height: 80px; */
    padding: 40px 20px;
    background: var(--secondary-color);
    color: var(--primary-text);
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    
}
footer p{
    width: 60%;
    font-size: 14px;
}
footer div{
    margin-right: 50px;
}
footer div a{
text-decoration: none;
margin-left: 20px;
font-size: 30px;
color: var(--primary-color);
transition: transform 3s linear;
background: var(--primary-text);
padding: 10px;
border-radius: 10px;
}
footer div a .fa-envelope{

   color: rgb(254, 4, 54);
}
footer div a .fa-github{
   color: var(--primary-color);
}
footer div a .fa-linkedin-in{
   color: #0077b5 ;
}
footer div a :hover{
    transform: scale(1.5);
}

/* toggle switch  */
/* The switch - the box around the slider */
.mode-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    width: max-content;
    -webkit-tap-highlight-color:  transparent;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }

@media only screen and (max-width:768px){
    .hero{
        flex-direction: column-reverse;
        
    }
    .hero .image img{
    margin-top: 30px;

        width: 240px;
    }
    .text{
        margin-left: 20px;
    }
    .hero h1{
        font-size: 3rem;
    }

    .project-tiles{
        grid-template-columns:auto auto;
        padding: 100px 10px;
    }

    .card{
        width: 45vw;
        border-radius: 5px;
    }
    .visual{
        height: 130px;
    }
    .visual img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;    
    }
    .info{
        padding: 10px;
        height: 100px;
    }
    .info h3{
        font-size: 16px;
    }
    .info i {
        margin-right: 5px;
    }
    .info p{
        font-size: 12px;
    }

    .buttons{
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .buttons .btn{
        width: 60px;
        font-size: 12px;
        border-radius: 5px;
    }
    .pagination-box{
        width: 100px;
    }
    footer {
        flex-direction: column;
        padding:20px 10px;
    }
    footer p{
        width: 100%;
        font-size: 12px;
    }
    footer div {
        margin: 20px auto 0;
    }
    footer div a{
        font-size: 25px;
    }
}