
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #dee4e7;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00f260,#0575e6 );
    border-radius: 20px;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;
    color:#fff;
}
.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.searchbox input{
    border: 0;
    outline: 0;
    background:  #dee4e7;
    color:#222;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 16px;
    font-size: 18px;
    height: 60px;
    flex: 1;
}

.searchbox button{
    width: 60px;
    height: 60px;
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color:  #dee4e7;
    cursor: pointer;
}
button img{
    width: 18px;
}
.weather-icon{
    width: 170px;
    margin-top: 16px;
}
.temp{
    font-size: 3.5rem;
    margin: 12px auto;
}
.city{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px ;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    color: red;
    margin-top: 20px;
    font-weight: 600;
    margin-left: -200px;
    display: none;
}

@media  only screen and (max-width:600px) {
    .card{
        padding: 40px 10px;
        width: 95%;
    }
    .searchbox input{
        margin-right: 5px;
        padding: 10px 20px;       
        
    }
    .weather-icon{
        margin-top: 12px;
    }
    .city{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .temp{
        margin: 10px auto;
    }
    .col img{
        width: 30px;
    }
    .humidity, .wind{
        font-size: 24px;
    }

    
}